spring:
  datasource:
    url: jdbc:h2:mem:topsecret-db
    username: sa
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /topsecret-console
